In [7]:
import pandas as pd

In [39]:
df = pd.read_csv("apple_products.csv")

In [40]:
df['Sale Price'].idxmin()

52

In [41]:
df.loc[52]

Product Name                              APPLE iPhone SE (White, 64 GB)
Product URL            https://www.flipkart.com/apple-iphone-se-white...
Brand                                                              Apple
Sale Price                                                         29999
Mrp                                                                39900
Discount Percentage                                                   24
Number Of Ratings                                                  95807
Number Of Reviews                                                   8154
Upc                                                     MOBFWQ6BGWDVGF3E
Star Rating                                                          4.5
Ram                                                                 2 GB
Name: 52, dtype: object

In [42]:
df.loc[52]['Sale Price']

np.int64(29999)

In [43]:
df.loc[52][3]

C:\Users\Python\AppData\Local\Temp\ipykernel_3952\4064769116.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df.loc[52][3]

np.int64(29999)

In [44]:
df.iloc[52][3]

C:\Users\Python\AppData\Local\Temp\ipykernel_3952\774151394.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df.iloc[52][3]

np.int64(29999)

In [45]:
br = int(df.loc[52]['Sale Price'])
br

29999

In [46]:
df['Sale Price'].idxmax()

24

In [47]:
df.loc[24]

Product Name                        APPLE iPhone 12 Pro (Silver, 512 GB)
Product URL            https://www.flipkart.com/apple-iphone-12-pro-s...
Brand                                                              Apple
Sale Price                                                        140900
Mrp                                                               149900
Discount Percentage                                                    6
Number Of Ratings                                                    542
Number Of Reviews                                                     42
Upc                                                     MOBFWBYZ5UY6ZBVA
Star Rating                                                          4.5
Ram                                                                 4 GB
Name: 24, dtype: object

In [48]:
br = int(df.loc[24]['Sale Price'])
br

140900

In [49]:
df.drop([0])
df

,Product Name,Product URL,Brand,Sale Price,Mrp,Discount Percentage,Number Of Ratings,Number Of Reviews,Upc,Star Rating,Ram
0,"APPLE iPhone 8 Plus (Gold, 64 GB)",https://www.flipkart.com/apple-iphone-8-plus-g...,Apple,49900,49900,0,3431,356,MOBEXRGV7EHHTGUH,4.6,2 GB
1,"APPLE iPhone 8 Plus (Space Grey, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,0,3431,356,MOBEXRGVAC6TJT4F,4.6,2 GB
2,"APPLE iPhone 8 Plus (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,0,3431,356,MOBEXRGVGETABXWZ,4.6,2 GB
3,"APPLE iPhone 8 (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-silver...,Apple,77000,77000,0,11202,794,MOBEXRGVMZWUHCBA,4.5,2 GB
4,"APPLE iPhone 8 (Gold, 256 GB)",https://www.flipkart.com/apple-iphone-8-gold-2...,Apple,77000,77000,0,11202,794,MOBEXRGVPK7PFEJZ,4.5,2 GB
...,...,...,...,...,...,...,...,...,...,...,...
57,"APPLE iPhone SE (Black, 64 GB)",https://www.flipkart.com/apple-iphone-se-black...,Apple,29999,39900,24,95909,8161,MOBFWQ6BR3MK7AUG,4.5,4 GB
58,"APPLE iPhone 11 (Purple, 64 GB)",https://www.flipkart.com/apple-iphone-11-purpl...,Apple,46999,54900,14,43470,3331,MOBFWQ6BTFFJKGKE,4.6,4 GB
59,"APPLE iPhone 11 (White, 64 GB)",https://www.flipkart.com/apple-iphone-11-white...,Apple,46999,54900,14,43470,3331,MOBFWQ6BVWVEH3XE,4.6,4 GB
60,"APPLE iPhone 11 (Black, 64 GB)",https://www.flipkart.com/apple-iphone-11-black...,Apple,46999,54900,14,43470,3331,MOBFWQ6BXGJCEYNY,4.6,4 GB
61,"APPLE iPhone 11 (Red, 64 GB)",https://www.flipkart.com/apple-iphone-11-red-6...,Apple,46999,54900,14,43470,3331,MOBFWQ6BYYV3FCU7,4.6,4 GB

Brisanje redova

In [50]:
df = pd.read_csv('apple_products.csv')

df.drop([0], inplace=True)

df

,Product Name,Product URL,Brand,Sale Price,Mrp,Discount Percentage,Number Of Ratings,Number Of Reviews,Upc,Star Rating,Ram
1,"APPLE iPhone 8 Plus (Space Grey, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,0,3431,356,MOBEXRGVAC6TJT4F,4.6,2 GB
2,"APPLE iPhone 8 Plus (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,0,3431,356,MOBEXRGVGETABXWZ,4.6,2 GB
3,"APPLE iPhone 8 (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-silver...,Apple,77000,77000,0,11202,794,MOBEXRGVMZWUHCBA,4.5,2 GB
4,"APPLE iPhone 8 (Gold, 256 GB)",https://www.flipkart.com/apple-iphone-8-gold-2...,Apple,77000,77000,0,11202,794,MOBEXRGVPK7PFEJZ,4.5,2 GB
5,"APPLE iPhone 8 Plus (Silver, 64 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,49900,49900,0,3431,356,MOBEXRGVQGYYP8FV,4.6,2 GB
...,...,...,...,...,...,...,...,...,...,...,...
57,"APPLE iPhone SE (Black, 64 GB)",https://www.flipkart.com/apple-iphone-se-black...,Apple,29999,39900,24,95909,8161,MOBFWQ6BR3MK7AUG,4.5,4 GB
58,"APPLE iPhone 11 (Purple, 64 GB)",https://www.flipkart.com/apple-iphone-11-purpl...,Apple,46999,54900,14,43470,3331,MOBFWQ6BTFFJKGKE,4.6,4 GB
59,"APPLE iPhone 11 (White, 64 GB)",https://www.flipkart.com/apple-iphone-11-white...,Apple,46999,54900,14,43470,3331,MOBFWQ6BVWVEH3XE,4.6,4 GB
60,"APPLE iPhone 11 (Black, 64 GB)",https://www.flipkart.com/apple-iphone-11-black...,Apple,46999,54900,14,43470,3331,MOBFWQ6BXGJCEYNY,4.6,4 GB
61,"APPLE iPhone 11 (Red, 64 GB)",https://www.flipkart.com/apple-iphone-11-red-6...,Apple,46999,54900,14,43470,3331,MOBFWQ6BYYV3FCU7,4.6,4 GB

Brisanje kolona

In [51]:
df.drop(['Product URL'], axis=1, inplace=True)
df

,Product Name,Brand,Sale Price,Mrp,Discount Percentage,Number Of Ratings,Number Of Reviews,Upc,Star Rating,Ram
1,"APPLE iPhone 8 Plus (Space Grey, 256 GB)",Apple,84900,84900,0,3431,356,MOBEXRGVAC6TJT4F,4.6,2 GB
2,"APPLE iPhone 8 Plus (Silver, 256 GB)",Apple,84900,84900,0,3431,356,MOBEXRGVGETABXWZ,4.6,2 GB
3,"APPLE iPhone 8 (Silver, 256 GB)",Apple,77000,77000,0,11202,794,MOBEXRGVMZWUHCBA,4.5,2 GB
4,"APPLE iPhone 8 (Gold, 256 GB)",Apple,77000,77000,0,11202,794,MOBEXRGVPK7PFEJZ,4.5,2 GB
5,"APPLE iPhone 8 Plus (Silver, 64 GB)",Apple,49900,49900,0,3431,356,MOBEXRGVQGYYP8FV,4.6,2 GB
...,...,...,...,...,...,...,...,...,...,...
57,"APPLE iPhone SE (Black, 64 GB)",Apple,29999,39900,24,95909,8161,MOBFWQ6BR3MK7AUG,4.5,4 GB
58,"APPLE iPhone 11 (Purple, 64 GB)",Apple,46999,54900,14,43470,3331,MOBFWQ6BTFFJKGKE,4.6,4 GB
59,"APPLE iPhone 11 (White, 64 GB)",Apple,46999,54900,14,43470,3331,MOBFWQ6BVWVEH3XE,4.6,4 GB
60,"APPLE iPhone 11 (Black, 64 GB)",Apple,46999,54900,14,43470,3331,MOBFWQ6BXGJCEYNY,4.6,4 GB
61,"APPLE iPhone 11 (Red, 64 GB)",Apple,46999,54900,14,43470,3331,MOBFWQ6BYYV3FCU7,4.6,4 GB

In [52]:
df = pd.read_csv('apple_products.csv')

df.drop(columns=['Product URL'], inplace=True)
df

,Product Name,Brand,Sale Price,Mrp,Discount Percentage,Number Of Ratings,Number Of Reviews,Upc,Star Rating,Ram
0,"APPLE iPhone 8 Plus (Gold, 64 GB)",Apple,49900,49900,0,3431,356,MOBEXRGV7EHHTGUH,4.6,2 GB
1,"APPLE iPhone 8 Plus (Space Grey, 256 GB)",Apple,84900,84900,0,3431,356,MOBEXRGVAC6TJT4F,4.6,2 GB
2,"APPLE iPhone 8 Plus (Silver, 256 GB)",Apple,84900,84900,0,3431,356,MOBEXRGVGETABXWZ,4.6,2 GB
3,"APPLE iPhone 8 (Silver, 256 GB)",Apple,77000,77000,0,11202,794,MOBEXRGVMZWUHCBA,4.5,2 GB
4,"APPLE iPhone 8 (Gold, 256 GB)",Apple,77000,77000,0,11202,794,MOBEXRGVPK7PFEJZ,4.5,2 GB
...,...,...,...,...,...,...,...,...,...,...
57,"APPLE iPhone SE (Black, 64 GB)",Apple,29999,39900,24,95909,8161,MOBFWQ6BR3MK7AUG,4.5,4 GB
58,"APPLE iPhone 11 (Purple, 64 GB)",Apple,46999,54900,14,43470,3331,MOBFWQ6BTFFJKGKE,4.6,4 GB
59,"APPLE iPhone 11 (White, 64 GB)",Apple,46999,54900,14,43470,3331,MOBFWQ6BVWVEH3XE,4.6,4 GB
60,"APPLE iPhone 11 (Black, 64 GB)",Apple,46999,54900,14,43470,3331,MOBFWQ6BXGJCEYNY,4.6,4 GB
61,"APPLE iPhone 11 (Red, 64 GB)",Apple,46999,54900,14,43470,3331,MOBFWQ6BYYV3FCU7,4.6,4 GB

In [53]:
def konverzija_KM(x):
    return x*0.0219

df['Sale Price'] = df['Sale Price'].apply(konverzija_KM)
df['Sale Price']

0     1092.8100
1     1859.3100
2     1859.3100
3     1686.3000
4     1686.3000
        ...
57     656.9781
58    1029.2781
59    1029.2781
60    1029.2781
61    1029.2781
Name: Sale Price, Length: 62, dtype: float64

In [54]:
df['Mrp'] = df['Mrp'].apply(konverzija_KM)
df['Mrp']

0     1092.81
1     1859.31
2     1859.31
3     1686.30
4     1686.30
       ...
57     873.81
58    1202.31
59    1202.31
60    1202.31
61    1202.31
Name: Mrp, Length: 62, dtype: float64

mean() - srednja vrijednost avarage

In [55]:
df['Sale Price'].mean()

np.float64(1753.618127419354)

In [56]:
int(df['Sale Price'].mean())

1753

In [57]:
int(df['Mrp'].mean())

1928

In [58]:
df.describe()

,Sale Price,Mrp,Discount Percentage,Number Of Ratings,Number Of Reviews,Star Rating
count,62.000000,62.000000,62.000000,62.000000,62.000000,62.000000
mean,1753.618127,1928.471613,9.951613,22420.403226,1861.677419,4.575806
std,751.398770,760.561281,7.608079,33768.589550,2855.883830,0.059190
min,656.978100,873.810000,0.000000,542.000000,42.000000,4.500000
25%,1092.810000,1202.310000,6.000000,740.000000,64.000000,4.500000
50%,1662.210000,1749.810000,10.000000,2101.000000,180.000000,4.600000
75%,2564.490000,2648.805000,14.000000,43470.000000,3331.000000,4.600000
max,3085.710000,3282.810000,29.000000,95909.000000,8161.000000,4.700000

In [59]:
df.sort_values(by='Sale Price', ascending = False)

,Product Name,Brand,Sale Price,Mrp,Discount Percentage,Number Of Ratings,Number Of Reviews,Upc,Star Rating,Ram
24,"APPLE iPhone 12 Pro (Silver, 512 GB)",Apple,3085.7100,3282.81,6,542,42,MOBFWBYZ5UY6ZBVA,4.5,4 GB
41,"APPLE iPhone 12 Pro (Pacific Blue, 512 GB)",Apple,3085.7100,3282.81,6,545,42,MOBFWBYZTHSXKMGW,4.5,4 GB
16,"APPLE iPhone 11 Pro Max (Midnight Green, 256 GB)",Apple,2888.6100,2888.61,0,1078,101,MOBFKCTSCAAKGQV7,4.7,4 GB
14,"APPLE iPhone 11 Pro Max (Gold, 256 GB)",Apple,2888.6100,2888.61,0,1078,101,MOBFKCTS7HCHSPFH,4.7,4 GB
31,"APPLE iPhone 12 Pro Max (Graphite, 256 GB)",Apple,2866.7100,3063.81,6,580,45,MOBFWBYZEF6XQ5ZW,4.6,6 GB
...,...,...,...,...,...,...,...,...,...,...
53,"APPLE iPhone SE (Black, 128 GB)",Apple,766.4781,983.31,22,95909,8161,MOBFWQ6BHUEVZPXD,4.5,2 GB
55,"APPLE iPhone SE (Red, 128 GB)",Apple,766.4781,983.31,22,95909,8161,MOBFWQ6BJTVFKPEJ,4.5,2 GB
54,"APPLE iPhone SE (White, 128 GB)",Apple,766.4781,983.31,22,95807,8154,MOBFWQ6BJEHMUUZY,4.5,2 GB
52,"APPLE iPhone SE (White, 64 GB)",Apple,656.9781,873.81,24,95807,8154,MOBFWQ6BGWDVGF3E,4.5,2 GB
57,"APPLE iPhone SE (Black, 64 GB)",Apple,656.9781,873.81,24,95909,8161,MOBFWQ6BR3MK7AUG,4.5,4 GB

In [62]:
df.sort_values(by='Sale Price')

,Product Name,Brand,Sale Price,Mrp,Discount Percentage,Number Of Ratings,Number Of Reviews,Upc,Star Rating,Ram
52,"APPLE iPhone SE (White, 64 GB)",Apple,656.9781,873.81,24,95807,8154,MOBFWQ6BGWDVGF3E,4.5,2 GB
57,"APPLE iPhone SE (Black, 64 GB)",Apple,656.9781,873.81,24,95909,8161,MOBFWQ6BR3MK7AUG,4.5,4 GB
53,"APPLE iPhone SE (Black, 128 GB)",Apple,766.4781,983.31,22,95909,8161,MOBFWQ6BHUEVZPXD,4.5,2 GB
55,"APPLE iPhone SE (Red, 128 GB)",Apple,766.4781,983.31,22,95909,8161,MOBFWQ6BJTVFKPEJ,4.5,2 GB
54,"APPLE iPhone SE (White, 128 GB)",Apple,766.4781,983.31,22,95807,8154,MOBFWQ6BJEHMUUZY,4.5,2 GB
...,...,...,...,...,...,...,...,...,...,...
49,"APPLE iPhone 12 Pro Max (Gold, 256 GB)",Apple,2866.7100,3063.81,6,580,45,MOBFWBYZZPW8JHQF,4.6,6 GB
14,"APPLE iPhone 11 Pro Max (Gold, 256 GB)",Apple,2888.6100,2888.61,0,1078,101,MOBFKCTS7HCHSPFH,4.7,4 GB
16,"APPLE iPhone 11 Pro Max (Midnight Green, 256 GB)",Apple,2888.6100,2888.61,0,1078,101,MOBFKCTSCAAKGQV7,4.7,4 GB
24,"APPLE iPhone 12 Pro (Silver, 512 GB)",Apple,3085.7100,3282.81,6,542,42,MOBFWBYZ5UY6ZBVA,4.5,4 GB
41,"APPLE iPhone 12 Pro (Pacific Blue, 512 GB)",Apple,3085.7100,3282.81,6,545,42,MOBFWBYZTHSXKMGW,4.5,4 GB

In [63]:
df_corr = df.drop(['Product Name', 'Brand'], axis=1)
df_corr

,Sale Price,Mrp,Discount Percentage,Number Of Ratings,Number Of Reviews,Upc,Star Rating,Ram
0,1092.8100,1092.81,0,3431,356,MOBEXRGV7EHHTGUH,4.6,2 GB
1,1859.3100,1859.31,0,3431,356,MOBEXRGVAC6TJT4F,4.6,2 GB
2,1859.3100,1859.31,0,3431,356,MOBEXRGVGETABXWZ,4.6,2 GB
3,1686.3000,1686.30,0,11202,794,MOBEXRGVMZWUHCBA,4.5,2 GB
4,1686.3000,1686.30,0,11202,794,MOBEXRGVPK7PFEJZ,4.5,2 GB
...,...,...,...,...,...,...,...,...
57,656.9781,873.81,24,95909,8161,MOBFWQ6BR3MK7AUG,4.5,4 GB
58,1029.2781,1202.31,14,43470,3331,MOBFWQ6BTFFJKGKE,4.6,4 GB
59,1029.2781,1202.31,14,43470,3331,MOBFWQ6BVWVEH3XE,4.6,4 GB
60,1029.2781,1202.31,14,43470,3331,MOBFWQ6BXGJCEYNY,4.6,4 GB
61,1029.2781,1202.31,14,43470,3331,MOBFWQ6BYYV3FCU7,4.6,4 GB

In [64]:
df_corr = df.drop(['Upc'], axis=1)
df_corr

,Product Name,Brand,Sale Price,Mrp,Discount Percentage,Number Of Ratings,Number Of Reviews,Star Rating,Ram
0,"APPLE iPhone 8 Plus (Gold, 64 GB)",Apple,1092.8100,1092.81,0,3431,356,4.6,2 GB
1,"APPLE iPhone 8 Plus (Space Grey, 256 GB)",Apple,1859.3100,1859.31,0,3431,356,4.6,2 GB
2,"APPLE iPhone 8 Plus (Silver, 256 GB)",Apple,1859.3100,1859.31,0,3431,356,4.6,2 GB
3,"APPLE iPhone 8 (Silver, 256 GB)",Apple,1686.3000,1686.30,0,11202,794,4.5,2 GB
4,"APPLE iPhone 8 (Gold, 256 GB)",Apple,1686.3000,1686.30,0,11202,794,4.5,2 GB
...,...,...,...,...,...,...,...,...,...
57,"APPLE iPhone SE (Black, 64 GB)",Apple,656.9781,873.81,24,95909,8161,4.5,4 GB
58,"APPLE iPhone 11 (Purple, 64 GB)",Apple,1029.2781,1202.31,14,43470,3331,4.6,4 GB
59,"APPLE iPhone 11 (White, 64 GB)",Apple,1029.2781,1202.31,14,43470,3331,4.6,4 GB
60,"APPLE iPhone 11 (Black, 64 GB)",Apple,1029.2781,1202.31,14,43470,3331,4.6,4 GB
61,"APPLE iPhone 11 (Red, 64 GB)",Apple,1029.2781,1202.31,14,43470,3331,4.6,4 GB

In [65]:
df_corr = df.drop(['Product Name', 'Brand', 'Upc'], axis=1)
df_corr

,Sale Price,Mrp,Discount Percentage,Number Of Ratings,Number Of Reviews,Star Rating,Ram
0,1092.8100,1092.81,0,3431,356,4.6,2 GB
1,1859.3100,1859.31,0,3431,356,4.6,2 GB
2,1859.3100,1859.31,0,3431,356,4.6,2 GB
3,1686.3000,1686.30,0,11202,794,4.5,2 GB
4,1686.3000,1686.30,0,11202,794,4.5,2 GB
...,...,...,...,...,...,...,...
57,656.9781,873.81,24,95909,8161,4.5,4 GB
58,1029.2781,1202.31,14,43470,3331,4.6,4 GB
59,1029.2781,1202.31,14,43470,3331,4.6,4 GB
60,1029.2781,1202.31,14,43470,3331,4.6,4 GB
61,1029.2781,1202.31,14,43470,3331,4.6,4 GB

In [66]:
def remove_GB(x):
    return x[0]

df_corr['Ram'] = df_corr['Ram'].apply(remove_GB)
df_corr

,Sale Price,Mrp,Discount Percentage,Number Of Ratings,Number Of Reviews,Star Rating,Ram
0,1092.8100,1092.81,0,3431,356,4.6,2
1,1859.3100,1859.31,0,3431,356,4.6,2
2,1859.3100,1859.31,0,3431,356,4.6,2
3,1686.3000,1686.30,0,11202,794,4.5,2
4,1686.3000,1686.30,0,11202,794,4.5,2
...,...,...,...,...,...,...,...
57,656.9781,873.81,24,95909,8161,4.5,4
58,1029.2781,1202.31,14,43470,3331,4.6,4
59,1029.2781,1202.31,14,43470,3331,4.6,4
60,1029.2781,1202.31,14,43470,3331,4.6,4
61,1029.2781,1202.31,14,43470,3331,4.6,4

In [9]:
df = pd.read_csv('apple_products.csv')
df.drop(['Product URL', 'Upc'], axis=1, inplace=True)

df1 = df.drop([0,1,2,3])
df_nan = df.add(df1)
df_nan

,Product Name,Brand,Sale Price,Mrp,Discount Percentage,Number Of Ratings,Number Of Reviews,Star Rating,Ram
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"APPLE iPhone 8 (Gold, 256 GB)APPLE iPhone 8 (G...",AppleApple,154000.0,154000.0,0.0,22404.0,1588.0,9.0,2 GB2 GB
...,...,...,...,...,...,...,...,...,...
57,"APPLE iPhone SE (Black, 64 GB)APPLE iPhone SE ...",AppleApple,59998.0,79800.0,48.0,191818.0,16322.0,9.0,4 GB4 GB
58,"APPLE iPhone 11 (Purple, 64 GB)APPLE iPhone 11...",AppleApple,93998.0,109800.0,28.0,86940.0,6662.0,9.2,4 GB4 GB
59,"APPLE iPhone 11 (White, 64 GB)APPLE iPhone 11 ...",AppleApple,93998.0,109800.0,28.0,86940.0,6662.0,9.2,4 GB4 GB
60,"APPLE iPhone 11 (Black, 64 GB)APPLE iPhone 11 ...",AppleApple,93998.0,109800.0,28.0,86940.0,6662.0,9.2,4 GB4 GB
61,"APPLE iPhone 11 (Red, 64 GB)APPLE iPhone 11 (R...",AppleApple,93998.0,109800.0,28.0,86940.0,6662.0,9.2,4 GB4 GB

In [ ]:
df_nan.dropna()