In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("apple_products.csv")

In [3]:
df["Sale Price"].idxmin()

52

In [5]:
df.loc[52]["Sale Price"]

np.int64(29999)

In [6]:
df["Sale Price"].idxmax()

24

In [8]:
df.loc[24]

Product Name                        APPLE iPhone 12 Pro (Silver, 512 GB)
Product URL            https://www.flipkart.com/apple-iphone-12-pro-s...
Brand                                                              Apple
Sale Price                                                        140900
Mrp                                                               149900
Discount Percentage                                                    6
Number Of Ratings                                                    542
Number Of Reviews                                                     42
Upc                                                     MOBFWBYZ5UY6ZBVA
Star Rating                                                          4.5
Ram                                                                 4 GB
Name: 24, dtype: object

In [7]:
df.loc[24]["Sale Price"]

np.int64(140900)

In [24]:
df.drop([0])

,Product Name,Brand,Sale Price,Mrp,Discount Percentage,Number Of Ratings,Number Of Reviews,Upc,Star Rating,Ram
1,"APPLE iPhone 8 Plus (Space Grey, 256 GB)",Apple,1859.3100,84900,0,3431,356,MOBEXRGVAC6TJT4F,4.6,2 GB
2,"APPLE iPhone 8 Plus (Silver, 256 GB)",Apple,1859.3100,84900,0,3431,356,MOBEXRGVGETABXWZ,4.6,2 GB
3,"APPLE iPhone 8 (Silver, 256 GB)",Apple,1686.3000,77000,0,11202,794,MOBEXRGVMZWUHCBA,4.5,2 GB
4,"APPLE iPhone 8 (Gold, 256 GB)",Apple,1686.3000,77000,0,11202,794,MOBEXRGVPK7PFEJZ,4.5,2 GB
5,"APPLE iPhone 8 Plus (Silver, 64 GB)",Apple,1092.8100,49900,0,3431,356,MOBEXRGVQGYYP8FV,4.6,2 GB
...,...,...,...,...,...,...,...,...,...,...
57,"APPLE iPhone SE (Black, 64 GB)",Apple,656.9781,39900,24,95909,8161,MOBFWQ6BR3MK7AUG,4.5,4 GB
58,"APPLE iPhone 11 (Purple, 64 GB)",Apple,1029.2781,54900,14,43470,3331,MOBFWQ6BTFFJKGKE,4.6,4 GB
59,"APPLE iPhone 11 (White, 64 GB)",Apple,1029.2781,54900,14,43470,3331,MOBFWQ6BVWVEH3XE,4.6,4 GB
60,"APPLE iPhone 11 (Black, 64 GB)",Apple,1029.2781,54900,14,43470,3331,MOBFWQ6BXGJCEYNY,4.6,4 GB
61,"APPLE iPhone 11 (Red, 64 GB)",Apple,1029.2781,54900,14,43470,3331,MOBFWQ6BYYV3FCU7,4.6,4 GB

In [23]:
df.drop(["Product URL"], axis=1)

KeyError: "['Product URL'] not found in axis"

In [21]:
df.drop(["Product URL"], axis=1, inplace=True )

KeyError: "['Product URL'] not found in axis"

In [22]:
def konverzija_KM(x):
    return x*0.0219

df["Sale Price"] = df["Sale Price"].apply(konverzija_KM)

In [25]:
df["Sale Price"]

0     1092.8100
1     1859.3100
2     1859.3100
3     1686.3000
4     1686.3000
        ...
57     656.9781
58    1029.2781
59    1029.2781
60    1029.2781
61    1029.2781
Name: Sale Price, Length: 62, dtype: float64

In [26]:
df["Sale Price"].mean()

np.float64(1753.618127419354)

In [27]:
df["Mrp"].mean()

np.float64(88058.06451612903)

In [ ]:
df.describe()

In [43]:
df.sort_values(by="Sale Price", ascending=False) #ascending ako hocemo od veceg ka manjem

,Product Name,Brand,Sale Price,Mrp,Discount Percentage,Number Of Ratings,Number Of Reviews,Star Rating,Ram
24,"APPLE iPhone 12 Pro (Silver, 512 GB)",Apple,140900,149900,6,542,42,4.5,4 GB
41,"APPLE iPhone 12 Pro (Pacific Blue, 512 GB)",Apple,140900,149900,6,545,42,4.5,4 GB
16,"APPLE iPhone 11 Pro Max (Midnight Green, 256 GB)",Apple,131900,131900,0,1078,101,4.7,4 GB
14,"APPLE iPhone 11 Pro Max (Gold, 256 GB)",Apple,131900,131900,0,1078,101,4.7,4 GB
31,"APPLE iPhone 12 Pro Max (Graphite, 256 GB)",Apple,130900,139900,6,580,45,4.6,6 GB
...,...,...,...,...,...,...,...,...,...
53,"APPLE iPhone SE (Black, 128 GB)",Apple,34999,44900,22,95909,8161,4.5,2 GB
55,"APPLE iPhone SE (Red, 128 GB)",Apple,34999,44900,22,95909,8161,4.5,2 GB
54,"APPLE iPhone SE (White, 128 GB)",Apple,34999,44900,22,95807,8154,4.5,2 GB
52,"APPLE iPhone SE (White, 64 GB)",Apple,29999,39900,24,95807,8154,4.5,2 GB
57,"APPLE iPhone SE (Black, 64 GB)",Apple,29999,39900,24,95909,8161,4.5,4 GB

In [39]:
df_corr = df.drop(["Product Name", "Brand"], axis=1)
df_corr

,Sale Price,Mrp,Discount Percentage,Number Of Ratings,Number Of Reviews,Star Rating,Ram
0,49900,49900,0,3431,356,4.6,2 GB
1,84900,84900,0,3431,356,4.6,2 GB
2,84900,84900,0,3431,356,4.6,2 GB
3,77000,77000,0,11202,794,4.5,2 GB
4,77000,77000,0,11202,794,4.5,2 GB
...,...,...,...,...,...,...,...
57,29999,39900,24,95909,8161,4.5,4 GB
58,46999,54900,14,43470,3331,4.6,4 GB
59,46999,54900,14,43470,3331,4.6,4 GB
60,46999,54900,14,43470,3331,4.6,4 GB
61,46999,54900,14,43470,3331,4.6,4 GB

In [37]:
def remove_GB(x):
    return x[0]

df_corr["Ram"]= df_corr

ValueError: Cannot set a DataFrame with multiple columns to the single column Ram

In [36]:
df = pd.read_csv("apple_products.csv")
df.drop(["Product URL", "Upc"],axis=1, inplace=True)

df1 = df.drop([0,1,2,3])
df_nan = df.add(df1)
df_nan

,Product Name,Brand,Sale Price,Mrp,Discount Percentage,Number Of Ratings,Number Of Reviews,Star Rating,Ram
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"APPLE iPhone 8 (Gold, 256 GB)APPLE iPhone 8 (G...",AppleApple,154000.0,154000.0,0.0,22404.0,1588.0,9.0,2 GB2 GB
...,...,...,...,...,...,...,...,...,...
57,"APPLE iPhone SE (Black, 64 GB)APPLE iPhone SE ...",AppleApple,59998.0,79800.0,48.0,191818.0,16322.0,9.0,4 GB4 GB
58,"APPLE iPhone 11 (Purple, 64 GB)APPLE iPhone 11...",AppleApple,93998.0,109800.0,28.0,86940.0,6662.0,9.2,4 GB4 GB
59,"APPLE iPhone 11 (White, 64 GB)APPLE iPhone 11 ...",AppleApple,93998.0,109800.0,28.0,86940.0,6662.0,9.2,4 GB4 GB
60,"APPLE iPhone 11 (Black, 64 GB)APPLE iPhone 11 ...",AppleApple,93998.0,109800.0,28.0,86940.0,6662.0,9.2,4 GB4 GB
61,"APPLE iPhone 11 (Red, 64 GB)APPLE iPhone 11 (R...",AppleApple,93998.0,109800.0,28.0,86940.0,6662.0,9.2,4 GB4 GB